version: '2'
services:
  bmsmongors3:
    container_name: bmsmongors3
    image:  mongo:3.4
    restart: always
    command: mongod --shardsvr --replSet bmsmongors --dbpath /data/db --port 27018
    ports:
      - 27018:27018
    expose:
      - "27018"
    environment:
      TERM: xterm
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /mongo_cluster/data/db:/data/db
  bmsmongorsconf3:
    container_name: bmsmongorsconf3
    image:  mongo:3.4
    restart: always
    command: mongod --configsvr --replSet bmsmongorsconf --dbpath /data/db --port 27019
    environment:
      TERM: xterm
    ports:
      - 27019:27019
    expose:
      - "27019"
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /mongo_cluster/config:/data/db
