version: '2'
services:
  nginxbms:
    image: nginx
    restart: always
    ports:
        - "80:8080"
    volumes:
        - ./nginx.conf:/etc/nginx/conf.d/default.conf
        - /root/app/bms/deploy/dist:/usr/share/nginx/bms
        - /root/app/bmscatl/deploy/dist:/usr/share/nginx/bmscatl
  zookeeper:
      image: wurstmeister/zookeeper
      restart: always
      ports:
        - "2181:2181"
  kafka:
    image: wurstmeister/kafka
    restart: always
    ports:
      - "9092:9092"
    depends_on:
      - zookeeper
    links:
      - zookeeper:zk
    environment:
      KAFKA_CREATE_TOPICS: "BMS.Data:2:2,BMS.bms:2:2,BMS.position:2:2"
      KAFKA_ADVERTISED_HOST_NAME: 118.31.41.232
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
  bmsserver:
    image: node:6.11.2
    restart: always
    command: node ./index.js
    working_dir: /app
    volumes:
      - /root/app/bms/deploy/restfulsrv:/app
      - /root/app/bms/deploy/kafkadb/node_docker:/app/node_modules/node-rdkafka/build/Release
    environment:
      - MONGO_URL=mongodb://172.17.0.1:27018/bms
      - KAFKA_HOST=172.17.0.1:2181
      - listenport=5012
      - mongos=false
      - rooturl=http://bms.com28.cn
      - jpush_appkey=630950d8101fe73d19d64aaf
      - jpush_mastersecret=dd52bf9de919a2a53441fce3
    network_mode: "host"
    ports:
       - "5012:5012"
    expose:
       - "5012"
    depends_on:
       - mongodb
       - zookeeper
       - kafka
  kafkadb:
    image: node:6.11.2
    restart: always
    command: node ./index.js
    working_dir: /app
    volumes:
      - /root/app/bms/deploy/kafkadb:/app
      - /root/app/bms/deploy/kafkadb/node_docker:/app/node_modules/node-rdkafka/build/Release
    environment:
      - MONGO_URL=mongodb://172.17.0.1:27018/bms
      - KAFKA_HOST=172.17.0.1:2181
      - mongos=false
      - NodeID=9
    network_mode: "host"
    depends_on:
       - mongodb
       - zookeeper
       - kafka
  bmscatlserver:
    image: node:6.11.2
    restart: always
    command: node ./index.js
    working_dir: /app
    volumes:
      - /root/app/bmscatl/deploy/restfulsrv:/app
      - /root/app/bms/deploy/kafkadb/node_docker:/app/node_modules/node-rdkafka/build/Release
    environment:
      - MONGO_URL=mongodb://172.17.0.1:27018/bmscatl
      - KAFKA_HOST=172.17.0.1:2181
      - listenport=5013
      - rooturl=http://bmscatl.com28.cn
      - jpush_appkey=a7179b88ad87fa6b261a99db
      - jpush_mastersecret=b4a1a84f50dffd8e9a36d96c
      - mongos=false
    network_mode: "host"
    ports:
       - "5013:5013"
    expose:
       - "5013"
  bmscatlkafkadb:
    image: node:6.11.2
    restart: always
    command: node ./index.js
    working_dir: /app
    volumes:
      - /root/app/bmscatl/deploy/kafkadb:/app
      - /root/app/bms/deploy/kafkadb/node_docker:/app/node_modules/node-rdkafka/build/Release
    environment:
      - MONGO_URL=mongodb://172.17.0.1:27018/bmscatl
      - KAFKA_HOST=172.17.0.1:2181
      - mongos=false
      - NodeID=10
    network_mode: "host"
